In [17]:
import pandas as pd
import sqlite3
connexion = sqlite3.connect("kbo_database.db")
cursor = connexion.cursor()

In [ ]:
cursor.execute("""
    SELECT name
    FROM sqlite_master
    WHERE type='table';
""")
tables = cursor.fetchall()
df_tables = pd.DataFrame(tables, columns=["Table Name"])
df_tables

OperationalError: database is locked

In [16]:
cursor.execute("""
     SELECT *
    FROM denomination;
""")
rows = cursor.fetchall()
columns = [description[0] for description in cursor.description]
denomination = pd.DataFrame(rows, columns=columns)
denomination

OperationalError: database is locked

In [ ]:
cursor.execute("""
     SELECT *
    FROM denomination;
""")
rows = cursor.fetchall()
columns = [description[0] for description in cursor.description]
branch = pd.DataFrame(rows, columns=columns)
branch

,EntityNumber,Language,TypeOfDenomination,Denomination
0,0200.065.765,2,1,Intergemeentelijke Vereniging Veneco
1,0200.065.765,2,2,Veneco
2,0200.068.636,2,1,Farys
3,0200.171.970,0,1,Sanatorium-Hospitaal van Lemberge
4,0200.245.711,2,1,Intercommunaal Sanatorium Denderoord
...,...,...,...,...
3285390,9.001.794.889,1,4,DRAL Belgium
3285391,9.001.795.186,2,4,Vallen Supply Belgium
3285392,9.001.795.384,2,4,Mipa Belux
3285393,9.001.795.780,2,4,HARTREE PARTNERS (UK) LTD (BELGIUM BRANCH)
3285394,9.001.795.879,2,4,KINTO EU Brussels Office